<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTI-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Kurslogg</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        <main>
            <h1>Kurslogg</h1>

            <div class="navbar">
                <a href="/">Startsida</a>
                <a href="/courses">Lägg till kurs</a>
                <a href="/about">Om uppgiften</a>
              </div>

              <h2>Om sidan</h2>
              <p>Sidans syfte är att visa en lista över de kurser användaren har läst samt möjlighet att lägga till nya kurser. Startsidan ska visa en lista över de tillagda kurserna. "Lägg till kurs" har ett formulär där användaren kan lägga till nya kurser i listan. Till sist beskriver "Om uppgiften" syftet med sidan och uppgiften. <br>
            För att skapa en databas med kursinformation från användaren har Sqlite använts.<br>
        Från uppgiften har jag fått lära mig hur jag skapar en webbplats genom att använda SQLite, EJS och Express. Jag tycker att det har varit ett väldigt smidigt arbetssätt med tanke på att man lägger routing i JavaScript-filen.
    Det jag tycker har varit svårt är syntaxen i EJS-filerna med <>- och %-tecken. Det tar ett tag att vänja sig vid och jag tycker även att det är lätt att missa att avsluta rader och att sätta alla symboler rätt. Men det blev lättare ju mer man använde det. 
Jag tycker att det var ett lätt sätt att skriva och använda databaser i samband med formuläret på webbplatsen och det kändes smidigt att få över information från formulär till databasen och visa det på webbplatsen.  </p>



    <footer>
        Moment 1<br>
        emfo2405
    </footer>

        </main>
    </div>


</body>

</html>