<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Kurslogg</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        <main>
            <h1>Kurslogg</h1>

            <div class="navbar">
                <a href="/">Startsida</a>
                <a href="/courses">Lägg till kurs</a>
                <a href="/about">Om uppgiften</a>
              </div>

            <form method="post">
                <% if(error !== "") { %>
                    <p id="error-mess">
                        <%= error %>
                    </p>
                <% } %>
                <label for="coursecode">Kurskod:</label>
                <input type="text" id="coursecode" name="coursecode">
                <br>
                <label for="coursename">Kursnamn:</label>
                <input type="text" id="coursename" name="coursename">
                <br>
                <label for="syllabus">Kursplan:</label>
                <input type="text" id="syllabus" name="syllabus">
                <br>
                <label for="progression">Progression:</label>
                <input type="text" id="progression" name="progression">
                <br>
                <input id="submit" type="submit" value="Lägg till kurs">
            </form>
    <footer>
        Moment 1<br>
        emfo2405
    </footer>

        </main>
    </div>


</body>

</html>