<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTI-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Kurslogg</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        <main>
            <h1>Kurslogg</h1>

            <form method="post">
                <% if(error !== "") { %>
                    <p id="error-mess">
                        <%= error %>
                    </p>
                <% } %>
                <label for="coursecode">Kurskod:</label>
                <input type="text" id="coursecode" name="coursecode">
                <br>
                <label for="coursename">Kursnamn:</label>
                <input type="text" id="coursename" name="coursename">
                <br>
                <label for="syllabus">Kursplan:</label>
                <input type="text" id="syllabus" name="syllabus">
                <br>
                <label for="progression">Progression:</label>
                <input type="text" id="progression" name="progression">
                <br>
                <input type="submit" value="Lägg till kurs">
            </form>
        </main>
    </div>
</body>

</html>