body {
    background-color: bisque;
    font-size: 1.2em;
    line-height: 1.7em;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

main {
    background-color: blanchedalmond;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

input[type=text] {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
}

#error-mess {
    color: red;
    font-weight: bold;
    border-radius: 10px;
    border: solid 2px;
    border-color: red;
    text-align: center;
    padding: 1%;
    width: 90%;
}

.navbar a{
    text-decoration: none;
    color: black;
    padding: 2.8%;
}

.navbar {
    background-color: burlywood;
    width: 97%;
    text-align: center;
    padding: 2%;
    border-radius: 5px;
    margin-bottom: 7%;
}

.navbar a:hover {
    background-color: rgb(151, 125, 92);
}

h1 {
    text-align: center;
}

#submit {
    background-color: burlywood;
    padding: 2%;
    border: solid 2px rgb(151, 125, 92);
    margin-top: 30px;
    border-radius: 10px;
    margin-left: 42%;
}

#submit:hover {
    background-color: rgb(151, 125, 92);
    cursor: pointer;
}

footer {
    background-color: burlywood;
    margin-top: 30px;
    border-radius: 10px;
    text-align:center;
    font-size: 90%;
}

article {
    border: 2px solid burlywood;
    padding: 2%;
    margin-bottom: 5%;
}

#course-info {
    color: #666;
    font-size: 90%;
}

#course-info a{
    text-decoration: none;
    color: #666;
}

#course-info a:hover {
    color: #363636;
    cursor: pointer;
}

#course {
    font-size: 115%;
}

#delete {
    text-decoration: none;
    color: rgb(133, 1, 1);
    font-weight: bold;
    font-size: 90%;
    border: solid 2px rgb(133, 1, 1);
    padding: 1%;
}

#delete:hover {
    background-color: rgb(206, 157, 157);
}

#about-info {
    width: 80%;
    margin-left: 10%;
    border: solid 1px rgb(151, 125, 92);
    box-shadow: 0 0 5px rgb(151, 125, 92);
    padding: 2%;
}